<footer class="footer">
    <div class="footer__arrow"><a href="#header" title="up"><img class="footer__arrow--img" src="./assets/images/ico-arrow.svg" alt="flecha arriba"></a></div>
    <nav class="footer__nav1">
      <ul class="footer__nav1--links">
        <li class="footer__nav--lk"><a href="https://adalab.es/"target="_blank">articles</li>
        <li class="footer__nav--lk"><a href="https://adalab.es/"target="_blank">books</li>
        <li class="footer__nav--lk"><a href="https://adalab.es/"target="_blank">events</li>
        <li class="footer__nav--lk"><a href="https://adalab.es/"target="_blank">reasons</li>
        <li class="footer__nav--lk"><a href="https://adalab.es/"target="_blank">tips</li>
      </ul>
      <ul class="footer__nav1--socialmedia">
        <li class="footer__nav--lk"><a href="https://adalab.es/"target="_blank">twitter</li>
        <li class="footer__nav--lk"><a href="https://adalab.es/"target="_blank">instagram</li>
        <li class="footer__nav--lk"><a href="https://adalab.es/"target="_blank">mastodon.social</li>
      </ul>
    </nav>
    <section class="footer__copy">
      <p>&copy;2022</p>
      <p> we <b class="footer__copy--heart">&hearts;</b><span class="footer__copy--componets">components</span> 
    </section>
  </footer>