<footer class="footer">
    <div class="footer__arrow">
      <img class="arrow" src="./assets/images/ico-arrow.svg" alt="flecha arriba" >
    </div>
    <nav class="footer__nav1">
      <ul class="footer__nav1--links">
        <li><a href="https://adalab.es/">books</li>
        <li><a href="https://adalab.es/">articles</li>
        <li><a href="https://adalab.es/">events</li>
        <li><a href="https://adalab.es/">reasons</li>
        <li><a href="https://adalab.es/">tips</li>
      </ul>
    </nav>
    <nav class="footer__nav2" >
      <ul class="footer__nav2--socialmedia">
        <li><a href="https://adalab.es/">twitter</li>
        <li><a href="https://adalab.es/">instagram</li>
        <li><a href="https://adalab.es/">mastodon.social</li>
      </ul>
      <div class="footer__nav2--copy">
        <p>&copy;2022</p>
        <p> we <b class="footer__nav2--copy--heart">♥️</b> components
      </div>
      
      </p>
    </nav>
  </footer>