<footer class="footer">
    <div class="arrow-footer">
      <img class="arrow" src="./assets/images/ico-arrow.svg" alt="flecha arriba" >
    </div>
    <nav>
      <ul class="nav-footer1">
        <li><a href="https://adalab.es/">books</li>
        <li><a href="https://adalab.es/">articles</li>
        <li><a href="https://adalab.es/">events</li>
        <li><a href="https://adalab.es/">reasons</li>
        <li><a href="https://adalab.es/">tips</li>
      </ul>
    </nav>
    <nav>
      <ul class="nav-footer2">
        <li><a href="https://adalab.es/">twitter</li>
        <li><a href="https://adalab.es/">instagram</li>
        <li><a href="https://adalab.es/">mastodon.social</li>
      </ul>
      <p class="copy">&copy;2022</p>
      <p class="components"> we ♥️ components
      </p>
    </nav>
  </footer>