<header>
    <nav class="header__menu" href="https://adalab.es/">
      <img class="header__menu--img" src="../assets/images/ico-menu.svg" alt="menu">
    </nav> 
    <section class="header__background"></section>
    <section class="header__maintitle">
      <h1 class="header__maintitle--title">Anonymus proxy</h1>
      <p class="header__maintitle--subtitle">In hac habitasse platea dictumst.</p>
      <div class="header__maintitle--arrow">
        <img class="scroll-down" src="./assets/images/ico-scroll-down.svg" alt="scroll-abajo" >
      </div>
    </section>
  </header>