<header>
    <nav class="menu" href="https://adalab.es/">
      <img class="img-menu" src="./assets/images/ico-menu.svg" alt="menu">
    </nav> 
    <section class="background-picture"></section>
    <section class="maintitle">
      <h1 class="title">Anonymus proxy</h1>
      <p class="subtitle-header">In hac habitasse platea dictumst.</p>
      <p class="arrow-header">
        <img class="scroll-down" src="./assets/images/ico-scroll-down.svg" alt="scroll-abajo" >
      </p>
    </section>
  </header>