// fonts
*{
    $font-family: 'Roboto', sans-serif;
}

// colors
$fontTitle: 'Roboto', sans-serif;
$fontText: 'Roboto', sans-serif;
$fontButton: 'Roboto', sans-serif;
$whitecolor: #ffffff;
$blueColor: #8ccbea;
$orangeColor:#f26002;
$bluehamburger: #0271bc;
$lightBluebackground: #eff9ff;
$darkbluefooter: #304268;
$blackfonthero:#4a4a4a;


