.footer {
    font-size: 1rem;
    font-family: $fontText; 
    background-color: $darkbluefooter;
    color: $whitecolor;    
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    padding-bottom: 3rem;

    &__arrow{
        background-color: $whitecolor;
        border-radius: 50%;
        width: 2rem;
        padding: 0.8rem 0.5rem 0.5rem 0.5rem;;
        position: relative;        
        top:1.5rem;          
    }

    &__nav1{
        text-transform: uppercase;
        text-decoration: none;
        &--links{
            line-height: 1.7rem;
            margin-bottom: 1.7rem;
        }
        a {
            text-decoration: none;
            color: $whitecolor;
        }
        }
    &__nav2{
        text-transform: uppercase;
        &--socialmedia{
            line-height: 1.7rem;
            margin-bottom: 1.7rem;
        }
        a {
            text-decoration: none;
            color: $whitecolor;
        }
        &--copy{
            line-height: 1.7rem;
            font-size: 0.875rem;
            &--heart{
                color: $orangeColor;
            }
        }
        }
       
    }
    
  


