header{
  background-image: url(../images/cover.jpeg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  @media all and (min-width: 768px) {
    padding-bottom: 3rem;
}
  
}
.header{
  &__menu{
    background-color: $bluehamburger;
    position: fixed;
    top: 0;
    padding: 7px;
    @media all and (min-width: 768px){
      transform: scale(1.5);
    } 
  }
  &__maintitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 34px;

    @media all and (min-width: 768px){
    }

    
    &--title{
      text-transform: uppercase;
      color: $whitecolor;
      text-align: center;
      font-size: 2.5rem;
      font-weight: bold;
      @media all and (min-width: 768px) {
        font-size: 5rem;
        line-height: 6rem;
    }
    }
    &--subtitle{
      color: $whitecolor;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      margin-top: 15px;
      @media all and (min-width: 768px){
        font-size: 2rem;
        text-align: center;
        line-height: 2.5rem; 
        width: 50vw;
        
      }
    }
    &--arrow {
      background-color: $whitecolor;        
      border-radius: 50%;
      display: flex;
      justify-content:center;
      align-items: center;
      width: 37px;
      height: 37px;               
      @media all and (min-width: 768px){
        transform: scale(1.5);
      } 
    }
  }
} 

